@font-face{font-family:Nunito;font-style:normal;font-weight:700;font-display:swap;src:url(nunito-bold.ttf) format('truetype')}
@font-face{font-family:Nunito;font-style:normal;font-weight:800;font-display:swap;src:url(nunito-extrabold.ttf) format('truetype')}
@font-face{font-family:Nunito;font-style:normal;font-weight:900;font-display:swap;src:url(nunito-black.ttf) format('truetype')}
@font-face{font-family:'DM Sans';font-style:normal;font-weight:400;font-display:swap;src:url(dm-regular.ttf) format('truetype')}
@font-face{font-family:'DM Sans';font-style:normal;font-weight:500 600;font-display:swap;src:url(dm-medium.ttf) format('truetype')}
@font-face{font-family:'DM Sans';font-style:normal;font-weight:700;font-display:swap;src:url(dm-bold.ttf) format('truetype')}
